
.modal-header .close {
    margin-top: -2px;
}

button.close {
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 15px;
    text-transform: uppercase;
}
.header_thietbi{
	background: #f4f4f4;
    padding: 8px 5px;
	margin-bottom:20px;
}
.content_thietbi li span {
    font-size: 18px;
    font-weight: bold;
    color: #0399f0;
    font-family: fantasy;
    padding-right: 15px;
    display: block;
    float: left;
}
.content_thietbi li{
  padding:10px;
  border-bottom:1px solid #f2f2f2;
  border-bottom: 1px solid #cecece;
	width: 95%;
	display: inline-block;
	line-height: 22px;
}


.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out,-o-transform .3s ease-out;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
@media (min-width: 768px)
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 768px)
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    outline: 0;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5 !important;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}





#Modal_Content_ThietBi .modal-dialog {
    width: 80% !important;
    left: 10%;
    top:5%;
}
#Modal_Content_ThietBi table.vien-bang{
    width: 100% !important;
    margin: 0px;
    padding: 0px;
    max-width: inherit !important;
}

table.vien-bang .dong-tieude td {
    background: #f2f2f2;
    font-weight: 600;
}
table.vien-bang td {
    padding: 5px;
}
.s_mgright {
    margin-right: 10px;
}
.s_center{
    text-align: center !important;
}
.dong-tieude .thcs-cl-cot3,.dong-tieude  td.thcs-cl-cot,.dong-tieude td.thcs-cl-cot4 {
    text-align: center;
}

.dong-tieude .thcs-dn-cot3,.dong-tieude .thcs-dn-cot4,.dong-tieude .thcs-dn-cot5,.dong-tieude .thcs-dn-cot6{
	text-align: center;
}


/*============CSS EXPORT WORD======*/
h4.header{
    text-transform:uppercase;
    font-size:20px;
    text-align:center;
    margin-bottom:10px;
}
.title_donvi{
    text-align:center;
    font-size:20px;
    font-weight:500;    
    padding:0px;
    margin-top:0px;
}
table{
    border-top:1px solid #ccc;
    border-right:1px solid #ccc;
}
table td,table th{
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc; 
    padding:5px;
}
table th{
    background:#f2f2f2;     
}
.s_center{
    text-align:center;  
}
.s_right{
    text-align:right;   
}
.cssbold{
    font-weight:bold;   
}
.bacongkhai {
    width: 100% !important;
}
.bacongkhai header {
	padding:0px;
	margin:0px;
    background: #f3f3f3 !important;
    border-bottom: 2px solid #f2f2f2 !important;
    margin-bottom: 0px;
	height: auto !important;
    display: table;
	width: 100%;
	
}
.bacongkhai header p{
	color: #E54463 !important;
    font-size: 13px !important;
    padding: 10px 10px !important;
    font-weight: 600;
	
}

@page narrow {
    size: landscape;
    margin: 0.5cm;  
}

@page {size: landscape}
DIV {page: narrow}
TABLE {page: landscape}