body {
	background-attachment: scroll;
    background:url("bg_home.png") repeat-x;
	background-color: #f5fad3;
    background-position: left top;
	color: #242B2D;
	margin:0 auto;
	padding: 0;
	bottom: 0;
	left: 0;
	position: relative;
	right: 0;
	top: 0;
	font-size:13px;
	min-height:500px;
	}
.title_document {
    background-color: #7A96E0;
    color: white;
    font-weight: bold;
    height: 30px;
	 background-image: url("");
}
a:hover
{
	color:#900;	
}
.menu_top li{
	background:url("") no-repeat center right;
	}
	
.main{
	background:url("bg_main.png") repeat-x;
	}
.left .wdanhmuc ul li{
	background:url("bg_li_danhmuc.png") no-repeat bottom left;
	}
.left .wthuvien ul li{
	background:url("bg_li_danhmuc.png") no-repeat bottom left;
}
.left .wlienketngoai p{
	border-bottom: 1px solid #CCCCCC;
}
.center{
	background:url("bg_center.png") repeat-x;
}

footer{
	color:#333;
	background:url("bg_footer.png") repeat-x;
}
.tuongtac{
	background:url("bg_tuongtac.png") no-repeat bottom right !important;
	background-color: #FFFFFF !important;
	}
footer .nav_ft a
{
	color:#333;
}
footer .nav_ft a:hover
{
	color:#900;
}
	
	
	
	
	
	
	
header{
	background: url("bg_header.png");
	background-color:#32ac051;
	width:100%;
	height:250px;
	margin-top:5px;
		border-bottom:3px solid #f8c9d5;

	}
.logo p { 
color: #F3F3F3;
    color: #F3F3F3;
    font-size: 33px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 8px;
    margin-top: 0px;
    text-align: center;
    text-shadow: 1px 1px 1px #DDDDDD;
    width: 254px;
} 

.login{
	height:30px;
	width:201px;
	background:url("login.png") no-repeat;
	}
.menu_top{
	background:url("") no-repeat;
	height: 49px;
	width: 1003px;
	margin: 0 auto;
	margin-top: 53;
	}
.left .wdanhmuc{
-webkit-box-shadow: 1px 1px 1px 0px #999;
box-shadow: 1px 1px 1px 0px #999;
background: url("bg_tit_danhmuc.png") no-repeat top left;
background-color: #F5D2E0;
color:#fff;
padding-bottom: 2px;

	}
.left .wthuvien{
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	background-color:#F5D2E0; 
	margin-bottom:10px;
	margin-top:10px;
	}
.left .wthamdoykien{
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	background:url("bg_tit_danhmuc.png") no-repeat top left;
	background-color:#F5D2E0; 
	padding-bottom:2px;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	margin-top: 10px;
	padding: 0 0 10px;
	}
.center .whoatdong section{
	width:473px;
	min-height: 190px;
	background:#fff;
	border:1px solid #f3c5d1;
	float:left;
	padding:10px;
	
	}
.center .wgoctuongtac section{
	width:473px;
	min-height: 190px;
	background:#fff;
	border:1px solid #C3C6DF;
	float:left;
	padding:10px;
	
	}
/*----------------------------------------------------------------------------------*/
.right .tit_wlichcongtac{
	height:38px;
	background:url("tit_lichcongtac.png");
}
.right .tit_wlichcongtac h4{
	color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 14px;
	}

/*----------------------------------------------------------------------------------*/
.right .tit_wtieubieu{
	height:35px;
	background:url("tit_dieukiendayvahoc.png");
}
.right .tit_wtieubieu h4{
	color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}
/*--------------------------------------------------------------------------------------*/
.right .tit_wdieukiendayhoc{
	height:35px;
	background:url("tit_dieukiendayvahoc.png");
}
.right .tit_wdieukiendayhoc h4{
	    color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}

	/*-------------------------------------------------------------*/
.left .tit_wdanhmuc{
	background:url("bg_tit_danhmuc.png") no-repeat top left;
	height:58px;
	}
.left .tit_wdanhmuc h4{
    color: #0A93F4;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 22px;
	}

	
	
.right .tit_wdanhmuc{
	height:35px;
	background:url("tit_dieukiendayvahoc.png");
}
.right .tit_wdanhmuc h4{
	    color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}
.left .wthongbaomoi 
{
    background-color: #F5D2E0;
    box-shadow: 1px 1px 1px 0 #999999;
    color: #FFFFFF;
    margin-top: 10px;
	padding: 0;
}

.left .tit_wthongbaomoi{
	background:url("bg_tit_danhmuc.png") no-repeat top left;
	height:58px;


	}
.left .tit_wthongbaomoi h4{
    color: #0A93F4;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 22px;
	}
	

	/*------------------------------------------------------------------------*/
.left .tit_wthuvien{
	background:url("bg_tit_danhmuc.png") no-repeat top left;
	height:58px;
	}
.left .tit_wthuvien h4{
    color: #0A93F4;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 22px;
	}
	
.right .tit_wthuvien{
	height:35px;
	background:url("tit_dieukiendayvahoc.png");
}
.right .tit_wthuvien h4{
	    color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}
	/*--------------------------------------------------------------------------------------*/
	
	
	
	
.left .tit_wthamdoykien{
	background:url("bg_tit_danhmuc.png") no-repeat top left;
	height:58px;
	}
.left .tit_wthamdoykien h4{
    color: #0A93F4;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 22px;
	}
.right .tit_wthamdoykien{
	height:35px;
	background:url("tit_dieukiendayvahoc.png");
}
.right .tit_wthamdoykien h4{
	    color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}
	
	
	
	
.left .main_link
{
	color:#fff;
	font-weight:bold;
	cursor:pointer;	
}
.right .main_link
{
	color:#333;
	font-weight:bold;
	cursor:pointer;	
}
.main_link:hover
{
	color:#C00;
}
.sub_link
{
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
width: 165px;
background: url("bullet.gif") no-repeat;
background-position: -2px 6px;
margin-left: 7px;
}
.wdanhmuc .sub_link
{
background: url("bullet.gif") no-repeat scroll 0 3px transparent;
    margin-left: 6px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-top: 0;
    width: 165px;
}
.sub_link_select
{
color: #F00;
padding-left: 10px;
padding-top: 0px;
padding-bottom: 5px;
background: url("") no-repeat;
background-position: -2px 3px;
width: 165px;
margin-left: 7px;
}
.sub_link span
{
	background:url("") bottom no-repeat;
	width:20px;
	display:inline-block;
	height:10px;
	border:none;
}
.sub_link_select span
{
	background:url("") bottom no-repeat;
	width:20px;
	display:inline-block;
	height:10px;
	border:none;
}
.sf-menu li li {
	background:		#f5d2e0;
	opacity:.7;
	
}
.lof-previous{
	background:#F9F9F9;
}
.lof-next{
	background:#F9F9F9;
}
.lof-navigator li.active div{
	background:#036;
	color:#FFF;
}
.lof-navigator li div{
	background:#69F;

}
.lof-navigator li.active{
	background:url("") no-repeat scroll left center; 
	color:#036;
}
.center .whoatdong header{
	background: url("tit_center_contend.png") no-repeat left;
	border-bottom: 2px solid #fa99b1;
	width: 495px;
	margin-bottom: 1px;
	}
ul.topnav li:hover ul.subnav{
	background:#DDD;
	}
ul.tabbernav li.tabberactive a
{
 background: none repeat scroll 0 0 #F6C;
 }
 #slide-out {
	 background: #DA3679; 
	 color:#003
 }

 .tit{
	color: #003;
    font-family: arial;
    font-size: 18px;
}

.right_content .cactinkhac
{
	background:url("bg_tit_pink2.png") no-repeat;
	color:#FFF;
}

.center .wgioithieu section{
	width:473px;
	min-height: 190px;
	background:#fff;
	border:1px solid #F3C5D1;
	float:left;
	padding:10px;
	
	}
.center .wgioithieu header{
	background: url("tit_center_contend.png") no-repeat left;
	border-bottom: 2px solid #FA99B1;
	width: 495px;
	margin-bottom: 1px;
	}
	
/*--------------------------------------------------------------------------------------*/

.center .wbantinmoi header{
	background:url("tit_center_contend.png") no-repeat left;
	}
.right .tit_wcpanel{
	height:35px;
	background:url("");
}
.right .tit_wcpanel h4{
	    color: #fff;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
	}

	/*-------------------------------------------------------------*/
	
.headerslide
{
border: 1px solid  #fbadcc;
}
.danhngon
{
	color:#fff
}

.title_parent a {
    background: url("") no-repeat scroll 0 0 transparent;
    color: #333;
	}
.tit_header
{
    color: #111;
}
.in_center_top .titcontent {

    color:#111;
}
.title_parent_administrative {
    background: url("") no-repeat scroll 0 0 transparent;
    color: #F7F5AF;
	}
.left .wthongbaomoi p:last-child{
	background:none;
}
.nd_thongbao{
	min-height:20px;
	padding:8px;
line-height:17px;
}
.left .nd_thongbao a
{
	color:#333;

}
.right .nd_thongbao a
{
	color:#333;

}
.sl_news .news
{
 color:#FFF;	
}
.sl_news .date
{ 
color:#CCC;
font-size:11px;	
}

.result_poll li .rvalue
{
background-color: #9C6;

}
.right .question
{
	color:#030;
}
.left .question
{
	color:#fff;
	margin-left: 10px;
}
.rl_idea
{
color:#333;
}
.left .wdanhmuc ul li a {
color: #000;
}
.login a {
    color: #fff;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin-left: 58px;
    margin-top: 7px;
}
#sub_thuvien2 a{
	corlor:#fff;	
}
.left input{
	margin-left:10px;
}
.left .wthuvien ul li a {
color: #000;
}
.left .wluottruycap{
    color: #000;
	background: none repeat scroll 0 0 #F5D2E0;
    box-shadow: 1px 1px 1px 0 #999999;
    line-height: 20px;
    min-height: 20px;
    padding: 10px;
}
.right .wluottruycap {
    color: #333;
}
.tit_header
{
	border-bottom: 2px solid #f666e7;
}
.right .wlienketngoai p{
	color:#417ef1;
	}
#slide-out h3{
	color:#fff;
}
.frm_login{
	color:#fff;
}
.lost-pwd{
	color:#fff;
}
.register-new{
	color:#fff;
}
.right .tit_wthongbaomoi {
    background: url("tit_dieukiendayvahoc.png") repeat scroll 0 0 transparent;
    
}
.frm_login input.submit
{
background-color:#39C;	
}
.title_parent_dropdown a {
    background: url("") no-repeat scroll 0 0 transparent;
    color: #333333;
	padding-top: 5px;
}
.left .nd_thongbao {
    background: url("bg_li_danhmuc.png") no-repeat scroll left bottom transparent;
}

.day_calendar {
    background: none repeat scroll 0 0 #fbeff9;
}
.left .tit_wlichcongtac {
    background: url("tit_lichcongtac.png") repeat scroll 0 0 transparent;
    height: 38px;
}
.left .tit_wlichcongtac h4 {
    color: #FFFFFF;
}
.left .tit_wcpanel h4 {
    color: #FFFFFF;
}
.left .tit_wcpanel {
    background: url("") repeat scroll 0 0 transparent;
    height: 38px;
}