@charset "utf-8";
/* CSS Document */
/* HTML5 display-role reset for older browsers */
.title_document {
    background-color: #7A96E0;
    color: white;
    font-weight: bold;
    height: 30px;
	 background-image: url("");
}


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	
}
a {
	text-decoration:none;
	color:#000;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */

/*@font-face {
 font-family: 'GothamBlackRegular';
 src: url('gotham-black-webfont.eot');
 src: url('gotham-black-webfont.eot?#iefix') format('embedded-opentype'),  url('gotham-black-webfont.woff') format('woff'),  url('gotham-black-webfont.ttf') format('truetype'),  url('gotham-black-webfont.svg#GothamBlackRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}*/
.fl { float:left; }
.fr { float:right; }
.brb {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	behavior: url("");
}

/*
.br {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(../border-radius.htc);
}
*/
.br5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url("");
}
.brbl {
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	behavior: url("");
}
.brbr {
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	behavior: url("");
}
.bsd {
	-webkit-box-shadow: 0px 1px 1px 2px ;
	-moz-box-shadow: 0px 1px 1px 2px ;
	box-shadow: 0px 1px 1px 2px ; 
	behavior: url("")
}
body {
	background-attachment: scroll;
    background-position: left top;
	color: #242B2D;
	margin:0 auto;
	padding: 0;
	bottom: 0;
	left: 0;
	position: relative;
	right: 0;
	top: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	min-height:500px;
	}

.in_header{
	width:1000px;
	margin:0 auto;
	position:relative;
	}


.top_nav{
	margin-right:70px;
	margin-top:5px;
	font-size:13px;
	}
.top_nav a{
	color:#036;
	}
.top_nav a:hover{
	text-decoration:underline;
	color:#960;
	}
.logo{
	height: 138px;
    left: 3px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-top: 5px;
    position: absolute;
    top: 20px;
    width: 270px;
	}
.logo img{
	display: block;
    margin: 0 auto;
    position: relative;
    top: 12px;
	}

.danhngon{
	font-family: times new roman;
    font-size: 20px;
    font-style: italic;
    left: 22px;
    padding-left: 0;
    position: absolute;
    text-align: right;
    top: 9px;

	}
.ngaythang{
font-family: Georgia,"Times New Roman",Times,serif;
font-size: 15px;
font-style: italic;
width: 600px;
position: absolute;
left: 396;
top: 258px;
text-align: right;
right:0;
	}
.menu_top li{
	padding-top:3px;
	padding-left:15px;
	padding-right:15px;
	min-width:40px;
	padding-bottom:6px;
	float:left;
	}
.menu_top li a{
	color:#fff;
	font-size:14px;
	padding-top:10px;
	display:block;
	}
#wraper{
	width:1000px;
	margin:0 auto;
	margin-top:5px;
	}
.main{
margin-top: 32px;
width: 980px;
min-height: 500px;
padding: 10px;
	}
	
	
.left{
width: 200px;
margin-right: 10px;
	
	}
.center{
width: 495px;
min-height: 500px;
padding: 10px;
padding-top:0px;
	}
.right{
	width:255px;
	}
/*  wdanhmuc ---------------------------------------------------------------------*/	
.left .wdanhmuc ul li{
	min-height: 15px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-top: 5px;
	}
	.left .wdanhmuc{
     margin-bottom:10px;
	}
.right .wdanhmuc{
	min-height:195px;
	overflow:hidden;
	}
.right .wdanhmuc img{
	margin-left:-5px;
	margin-top:2px;
	float:left;
	}
.right .wdanhmuc ul{
	float:left;
	margin-top:10px;
	margin-left:20px;
	
	}
.right .wdanhmuc ul li{
	min-height:30px;
	}
.right .wdanhmuc{
	background:#fff;
	padding:10px;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.right .wdanhmuc .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	
/*----------------------------------------------------------*/
.right .wthamdoykien{
	min-height:19px;
	overflow:hidden;
	}
.right .wthamdoykien img{
	margin-left:-5px;
	margin-top:2px;
	float:left;
	}
.right .wthamdoykien{
	background:#fff;
	padding:10px;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.right .wthamdoykien .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	
.left .wthamdoykien{
	min-height:195px;
	overflow:hidden;
	}
.left .wthamdoykien img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
.left .wthamdoykien ul{
	float:left;
	margin-top:10px;
	margin-left:20px;
	
	}
.left .wthamdoykien ul li{
	
    min-height: 30px;
    width: 300px;
	}
.left .wthamdoykien{
	background:#fff;
	padding:10px;
	
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.left .wthamdoykien .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	
/* end-----wthuvien ---------------------------------------------------------------*/

/*  wthuvien */	
.left .wthuvien ul{

	}
.left .wthuvien ul li{
	min-height: 15px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-top: 8px;
	overflow: hidden;
	}
.left .main_link {
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    width: 150px;
	line-height: 17px;
}

.submenu_thuvien {
    display: none;
	float:left;
}
.left .menutitle img{
	margin-right:8px;
	float:left;
	margin-top:4px;
}
.left .wthuvien ul li:last-child{
	background:none;
	}
.right .wthuvien{
	min-height:150px;
	overflow:hidden;
	}
.right .wthuvien img{
	margin-left:-5px;
	margin-top:4px;
	float:left;
	}
.right .wthuvien ul{
	float:left;
	margin-top:20px;
	margin-left:20px;

	}
.right .wthuvien ul li{
	min-height: 30px;
    overflow: hidden;
    padding-left: 5px;
	margin-bottom: 5px;
	}
.right .wthuvien{
	background:#fff;
	padding:10px;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.right .wthuvien .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
/*  end wthuvien --------------------------------------------------------------------*/	

/*  wlienketngoai -------------------------------------------------------------------*/	
.left .wlienketngoai{
	margin-top:10px;
	margin-bottom:10px;
	}
.left .wlienketngoai p{
	text-align:center;
	color:#417ef1;
	font-size:17px;
	height:25px;
	}
.left .wlienketngoai img{
	margin-top:5px;
	width:100%;
	
	}
.right .wlienketngoai{
	margin-top:10px;
	margin-bottom:10px;
	}
.right .wlienketngoai p{
	text-align:center;
	font-size:17px;
	height:25px;
	}
.right .wlienketngoai img{
	margin-top:5px;
	width:100%;
	}
.right .wlienketngoai img{
	margin-top:5px;
	width:100%;
	}
/*  end wlienketngoai ----------------------------------------------------------------------------*/

/*  wlienketnoibo --------------------------------------------------------------------------------*/	
.left .wlienketnoibo{
	margin-top:5px;
	margin-bottom:5px;
	}
.left .wlienketnoibo img{
	margin-top:5px;
	width:100%;
	}
.right .wlienketnoibo{

	margin-top:5px;
    margin-bottom: 10px;
	}
.right .wlienketnoibo img{
    height: 51px;
    margin-left: 11px;
    margin-top: 5px;
    width: 246px;
	}
/*  end wlienketnoibo -----------------------------------------------------------------------------------*/		


/*  wbantinmoi --------------------------------------------------------------------------------*/	
.center .info_news{
	width:240px;
	
	}

.center .info_news p{
	line-height:18px;
	}
.center .info_news p .tit{
	color:#362069;
	font-weight:bold;
	margin-top:10px;
	float:left;
	}
.center .more_info_news{
	width:244px;
	margin-left:10px;	
}
.center .more_info_news ul{
	margin-left:12px;
	}
.center .more_info_news ul li{
	min-height:20px;
	line-height:18px;
	padding-bottom:10px;
	}
/*   whoatdong --------------------------------------------------------------------------------*/
.center .whoatdong{
	width:504px;
	float:left;
	margin-top:10px;
	}
.center .whoatdong header{
	height:30px;
	}
.center .whoatdong header p{
	color: #FFFFFF;
    float: left;
    font-size: 17px;
    margin-left: 12px;
    margin-top: 7px;
	}

.center .whoatdong section .left_content{
width: 470px;
padding-right: 0px;
	}
.center .whoatdong section .left_content .content{
	margin-top:6px;
	float:left;
	margin-left:10px;
	width:100%;
	line-height:17px;
	}
.center .whoatdong section .left_content .detail{
	float:right;
	color:#69F;
	font-size:12px;
	margin-right: 3px;
	margin-top: 0px;
	}

/*  end whoatdong --------------------------------------------------------------------------------*/

	
/*  wgoctuongtac --------------------------------------------------------------------------------*/	

.center .wgoctuongtac{
	width:504px;
	float:left;
	margin-top:10px;

	}

.center .wgoctuongtac section .left_content{
	width: 465px;
padding-right: 10px;
	}
.center .wgoctuongtac section .left_content .content{
margin-top: 6px;
float: left;
width: 100%;
line-height: 17px;

	}
.center .wgoctuongtac section .left_content .detail{
	float:right;
	color:#69F;
	font-size:12px;
	margin-top: 0px;
	}
	
.right_content{
	float: left;
    width: 100%;
	}
.left_content ul{
	margin-bottom: 10px;
    min-height: 50px;
    overflow: hidden;
	}
.right_content ul li{
min-height: 20px;
margin-bottom: 5px;
line-height: 17px;
padding-left: 12px;
background: url("bullet1.png") 2px 6px no-repeat;
	
	}
.right_content ul li a{
	color:#369;
	}

/*  end wbantinmoi --------------------------------------------------------------------------------*/	

/*-----------------------------------------------------------------------------------------------*/
.left .wvideo{
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 1px 1px 1px 0 #999999;
    margin-bottom: 10px;
    overflow: hidden;
	padding: 0;
	}
.left .wvideo .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
.left .wvideo img
{
	width:150px;
	height:140px;
}
	

/*-----------------------------------------------------------------------------------------------*/
.left section{
	background:#fff;
	padding:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.left section .tit_wlichcongtac{
	float:left;
	margin-bottom:10px;
	width: 179px;
	}

.right section{
	background:#fff;
	padding:10px;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.right .wthongbaomoi{
	background:#fff;
	padding:10px;
	margin-left:10px;
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.right section .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	

/*   wtieubieu --------------------------------------------------------------------------------*/	
.right .wtieubieu{
	height:230px;
	overflow:hidden;
	}
.right .wtieubieu img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
figcaption{
	text-align:center;
	line-height:18px;
	margin-top:10px;
	float:left;
	}

/*  end wtieubieu --------------------------------------------------------------------------------*/


/*   wdieukiendayhoc --------------------------------------------------------------------------------*/		
.right .wdieukiendayhoc{
	min-height:135px;
	overflow:hidden;
	}
.right .wdieukiendayhoc img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
.right .wdieukiendayhoc ul{
	float:left;
	margin-top:10px;
	margin-left:20px;

	}
.right .wdieukiendayhoc ul li{
	min-height:30px;
	}

.left .wdieukiendayhoc{
	min-height:195px;
	overflow:hidden;
	}
.left .wdieukiendayhoc img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
.left .wdieukiendayhoc ul{
	float:left;
	margin-top:10px;
	margin-left:20px;
	
	}
.left .wdieukiendayhoc ul li{
	min-height:30px;
	}
.left .wdieukiendayhoc{
	background:#fff;
	padding:10px;

	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.left .wdieukiendayhoc .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	
/*  end wdieukiendayhoc --------------------------------------------------------------------------------*/	
footer{
	width:100%;
	padding-top:20px;
	height:50px;
	float:left;
	position:relative;
	}
footer .info_ft{
	width:1000px;
	margin:0 auto;
	}
footer .nav_ft{
	z-index:999;
	margin-top: -22px;
	}
footer .info_ft p{
line-height:18px;
}

.sf-menu ul{
	border-radius:8px;
	}
.sf-menu li li a{
	color:#000;
	}
	
	
.in_center_top img{
	float: left;
    margin-right: 10px;
	}
.in_center_top .tit{
	line-height:17px;
	margin-bottom:5px;
	}
.in_center_top .titcontent {
	
    float: left;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.in_center_top .titcontent_noimg {
    float: left;
    font-size: 20px;
    line-height: 25px;
    color:#666;
	width:100%;
	margin-top: 15px;
}
.in_center_down {
    float: left;
    padding: 10px 0;
    width: 100%;
	line-height:20px;
}
.in_center_parent {

    clear: left;
    float: left;
    line-height: 15px;
    margin-top: 5px;
}
.in_center_down ul li{
    min-height: 32px;
	}
.in_center_down ul li img{
	float:left;
	margin-right:10px;
	width:145px;
	}
.in_center_down ul li p{
	line-height:20px;
	overflow: hidden;

	}
.in_center_down ul li a{
	font-family: arial;
    font-size: 14px;
	}



.info
{
	padding-top:15px; float:left;  width:100%;
}
.othernew
{
	margin-top:10px;
	padding-left: 15px;
	width:100%; float:left;
	background:url("")  no-repeat left 5px;
}
.othernew a
{
	color:#666;
}
.schedule
{
	height: 25px;
}
.schedule a {
    float: left;
    height: 24px;
    width: 494px;
}

.title_parent
{
	float: left;height: 25px;width: 100%; padding-bottom:5px;margin-bottom:5px;
}
.title_parent a {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-top: -3px;
    padding-left: 10px;
    padding-top: 5px;
      width: 100%;
}

.onecontent
{
	font-size: 18px;font-weight: bold;height: 37px;line-height: 37px;margin: 12px 0; vertical-align: middle;
}
.buttomothernew
{
   float:left; padding-bottom:20px;width:100%;
}
.buttomotherdownlaod
{
	padding-top:20px; float:right;
}
.day
{
	font-size:11px; color:#666;font-style: italic;width: 494px;
}
.listnamecontent
{
	padding-right:5px;
}
.link
{
	color:#F00; font-size:11px;
}
.box_new_content {
    float: left;
    padding-bottom: 20px;
	width:495px;
}

.in_center_top_content
{
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
	margin-bottom:10px;
    width: 490px;

}
.in_center_top_content img{
	float:left;
	margin-right:10px;
	width:255px;
	}
.in_center_top_content .tit{
	display: block;
    line-height: 23px;
    margin-bottom: 5px;
	 width: 100%;
	margin-top:0;
	}
.in_center_top_content .titcontent {
    float: left;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    width: 100%;
	color:#666;
}

.in_center_top_content .titcontent_noimg {
    float: left;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
    width: 494px;
	color:#666;
}
.info1 li {
    height: 20px;
    list-style: disc outside url("");
    margin-top: 10px;
}
.dayinweek
{
	padding-top:15px;"><span style="color:#660066; font-size:14px;
}
.info_week
{
	float: left;font-size: 12px; margin-left: 14px;width: 480px;
}
.info_facultyreport table
{
	font-size:12px;
}

.title_parent_administrative {
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-top: -3px;
    padding-left: 10px;
    padding-top: 5px;
    width: 682px;
}
.title_parent_administrative a{
	color: #F7F5AF;
}
.box_new_content_administrative {
    float: left;
    padding-bottom: 20px;
    width: 100%;
}



.title_content_document1 {
    background-color: white;
    padding: 5px;

	height: 30px;
	font-size:12px;
	line-height:20px;
}
.title_content_document2 {
    background-color: #F1F1F1;
    padding: 5px;

	height: 30px;
	font-size:12px;
	line-height:20px;
}

.beTable {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: collapse;
    margin: 0;
    position: static;
    width: 100%;
}
.day_calendar_update
{
padding-top:10px;
color:#960;
font-weight:bold;
background-color:#FFF;
height:216px;
}
.day_calendar
{
	color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 6px 5px 7px;
    text-align: center;
}
ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 920px;
    font-size: 1.2em;
    background: url("") repeat-x;
}

ul.topnav li {
	cursor:pointer;
    margin-top: 0px;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a{
    padding: 10px 5px;
    display: block;
    text-decoration: none;
    float: left;
}
ul.topnav li a:hover{
	color:#f9e3f8;
	}


ul.topnav li span { /*--Drop down trigger styles--*/
    width: 17px;
    height: 35px;
    float: left;

}

ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li:hover ul.subnav{
	display:block;
	background:#ggg;
	z-index:999;
	}
ul.topnav li ul.subnav {
    background: none repeat scroll 0 0 #F6C9F3;
    border: medium none #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    float: left;
    left: -3px;
    list-style: none outside none;
    margin: 0;
    opacity: 0.8;
	display:none;
    padding: 10px;
    position: absolute;
    top: 41px;
    width: 200px;
}
ul.topnav li ul.subnav li {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    min-height: 24px;
    margin: 0;
    min-width: 170px;
	padding-right:10px;
}
 html ul.topnav li ul.subnav li a {
    color: #000000;
    float: left;
    font-size: 14px;
    margin-top: 5px;
    min-width: 64px;
    padding: 0;
}

/* LONG -lllllllllllllllllllllllllllllllllllllllllllllllllllllllllll*/
 html ul.topnav li ul.subnav li a:hover
{

text-decoration:underline;	 
}
.LinkMap
{
margin-top: -27px;
height: 12px;
position: absolute;
}
.tit_header
{
	border-bottom: 2px solid white;
    font-size: 22px;
    font-weight: normal;
    min-height: 27px;
    margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom:5px;
	line-height: 25px;
	}
/*/-------------------------------------------------------------------------------*/

#menu_wdanhmuc li:last-child{
	background:none;
}
.detail
{
	font-size:11px;
	float:right;
	color:#6699FF;
}
.buttomothernew .info{
	width:100% ;
margin-bottom:6px;
height:25px;
}
.bg_header_right{
	position: relative;
	width:100%;
	height:135px;	
	}
	.left .wwebmail
	{
		margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
	}
	.right .wwebmail
	{
		padding: 10px;
		padding-top: 0;
	}

.left .search_text{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ABAAAA #E1DFDF #E1DFDF;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 7px;
    position: relative;
   margin-left: 0;
    width: 202px;
	color: #000;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    
}
.left .search_btn
{
    background: url("search.gif") repeat scroll 0 0 transparent;
border: 0 none;
height: 21px;
left: 180px;
padding: 5px;
position: relative;
top: -27px;
width: 18px;
margin-left: 0;
}
.left .search_form{
	height:40px;
	}
	
.right .search_text{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ABAAAA #E1DFDF #E1DFDF;
    border-radius: 7px 7px 7px 7px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px 7px;
    position: relative;
    right: -10px;
    width: 232px;
	color: #000;
    font-family: Georgia,'Times New Roman',Times,serif;
    font-style: italic;
    
}
.right .search_btn
{
    background: url("search.gif") repeat scroll 0 0 transparent;
border: 0 none;
height: 21px;
left: 231px;
padding: 5px;
position: relative;
top: -27px;
width: 18px;
}
.right .search_form{
	height:40px;
	}
.cactinkhac
{
 padding-top:5px;
 padding-left:12px;
 padding-bottom:10px;
 font-weight:bold;	
}
.tit_link
{
clear:both;
color:#000;
font-size:14px;
color:#003;
}
.img_small{
	width:121px;
	float:left;
	border:1px solid #ccc;
	margin-top:10px; 
	max-height:80px;
}
.img_big{
	width:255px;
	float:left;
	border:1px solid #ccc;
	margin-right:10px !important; 
	margin-top:5px; 
}
.tt_khac{
    background: url("") no-repeat scroll 8px 6px transparent;
    line-height: 17px;
    margin-bottom: 5px;
    min-height: 20px;
    padding-left: 20px;
}
.ul_tt_khac{
float:left;
margin-top:10px;
}

.wnew a
{
	color:#225486;
	font-size:16px;
    
}
.wnew h4{
	border-bottom:1px solid #FFF;
	height:21px;
	margin-bottom:10px;
	color:#000;
	}
.wnew
{
	line-height: 20px;
    text-align:justify;
    
}

.alertdiv
{
	font-weight:normal;
}
.nodata_search
{
	font-size:14px; font-weight:bold; color:#33C;
}
.End_Contactus
{
	margin-bottom: 20px;padding-top: 20px;width: 678px;font-size:14px;
}


.question {
font-weight: bold;
padding-left: 10px;
padding-right: 5px;
padding-top:10px;
line-height: 15px;
margin-bottom: 8px;
}
.result_poll {
float: left;
width: 100%;
padding-left: 10px;
margin-bottom: 10px;
margin-top: 4px;
}
.rl_idea {
font-size: 11px;
width: 200px;
background-color: #F0F0F0;
border-radius: 5px;
float:left
}
.result_poll li .rvalue {
padding-left: 10px;
}
.idea
{
	padding-left:10px;
}
.btnVote
{
	margin-left:15px;
}
.name_idea {
padding-top: 2px;
padding-bottom: 5px;
margin-top: 0px;
float: left;
font-size:11px;
line-height:15px;
width:70%;
}
.result_poll li
{
	height:20px;
}
.headerslide
{
height: 188px;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 40px;
    width: 670px;
}
/*   wquangcao --------------------------------------------------------------------------------*/
.center .wlienketngoai{
	width:100%;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	}
/*  end wquangcao --------------------------------------------------------------------------------*/
.center .wlienketngoai a .image
{
height:100px;width:100% ;
margin-bottom:5px;
margin-top: 5px;
}
.center .wlienketngoai .tit_wlienketngoai
{
display:none;	
}
.right .wlienketngoai a .image
{


    margin-left: 10px;
    margin-top: 5px;
    width: 96%;
}
.left .wlienketngoai a .image
{
  margin-top:5px; 
}





/*   wgioithieu --------------------------------------------------------------------------------*/
.center .wgioithieu{
	width:504px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	}
.center .wgioithieu header{
	height:30px;
	}
.center .wgioithieu header p{
	color: #FFFFFF;
    float: left;
    font-size: 17px;
    margin-left: 12px;
    margin-top: 7px;
	}

.center .wgioithieu section .left_content{
width: 470px;
padding-right: 0px;
	}
.center .wgioithieu section .left_content .content{
	margin-top:6px;
	float:left;
	margin-left:10px;
	width:390px;
	line-height:17px;
	}
.center .wgioithieu section .left_content .detail{
	float:right;
	color:#69F;
	font-size:12px;
	margin-right: 10px;
	margin-top: 5px;
	}
/*  end wgioithieu --------------------------------------------------------------------------------*/
.firstletter {
float: left;
font-family: Old English, Georgia,serif;
font-size: 300%;
line-height: 0.5em;
margin-top: 10px;
margin-right: 0.03em;
margin-bottom: 0.09em;
}

.center .wgioithieu section .right_content{
float: left;
width: 100%;
padding-top: 15px;
	}

/*   wcpanel --------------------------------------------------------------------------------*/		
.right .wcpanel{
	min-height:135px;
	overflow:hidden;
	}
.right .wcpanel img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
.right .wcpanel ul{
	float:left;
	margin-top:10px;
	margin-left:20px;

	}
.right .wcpanel ul li{
	min-height:30px;
	}

.left .wcpanel{
	min-height:195px;
	overflow:hidden;
	}
.left .wcpanel img{
	margin-left:-5px;
	margin-top:-5px;
	float:left;
	}
.left .wcpanel ul{
	float:left;
	margin-top:10px;
	margin-left:20px;
	
	}
.left .wcpanel ul li{
	min-height:30px;
	}
.left .wcpanel{
	background:#fff;
	padding:10px;
	
	-webkit-box-shadow: 1px 1px 1px 0px #999;
	box-shadow: 1px 1px 1px 0px #999;
	margin-bottom:10px;
	}
.left .wcpanel .tit_right{
	float:left;
	margin-left:-5px;
	margin-top:-5px;
	}
	
/*  end wcpanel --------------------------------------------------------------------------------*/	

.acc_info
{
 background:url("") no-repeat left top;	
}
.acc_changepass
{
 background:url("") no-repeat left top;	
}
.acc_mypost
{
 background:url("") no-repeat left top;	
}
.acc_post_send
{
 background:url("") no-repeat left top;	
}
.acc_request
{
 background:url("") no-repeat left top;	
}
.acc_inbox
{
 background:url("") no-repeat left top;	
}
.acc_control li
{
 padding-left:20px;
 padding-top:2px;
 font-weight:bold;
}



.quote_start
{
background: url("quote_start.png") no-repeat left top;
padding: 16px;
position: absolute;
padding-left: 30px;
margin-left: -18px;
margin-top: -5px;
	
}
.quote_end
{
 background:url("") no-repeat;
 padding:16px;
 margin-left:5px;
 position:absolute;
	
}
.noidunggioithieu
{

line-height: 20px;
padding-left: 0px;
margin-left: 6px;
margin-top: 10px;
	
}
.noidung
{

line-height: 20px;
margin-top: 2px;
	
}
/*   wbantinmoi --------------------------------------------------------------------------------*/
.center .wbantinmoi{
	
	float:left;
	margin-top:10px;
	}
.center .wbantinmoi header{
	height:30px;
	}
.center .wbantinmoi header p{
	color: #FFFFFF;
    float: left;
    font-size: 17px;
    margin-left: 28px;
    margin-top: 7px;
	}

.center .wbantinmoi section .left_content{
width: 431px;
padding-right: 0px;
	}
.center .wbantinmoi section .left_content .content{
	margin-top:6px;
	float:left;
	margin-left:10px;
	width:289px;
	line-height:17px;
	}
.center .wbantinmoi section .left_content .detail{
	float:right;
	color:#69F;
	font-size:12px;
	margin-right: 10px;
	margin-top: -5px;
	}
.wbantinmoi .container
{
width: 662px;
min-height: 190px;
background: white;
border: 1px solid #DDF4DB;
float: left;
padding: 10px;
}
/*  end wbantinmoi --------------------------------------------------------------------------------*/
.log_ctrl
{

font-style: italic;
width: 200px;
right: 0px;
position: absolute;
top: 9px;
color: #F3F3F3;
text-align: right;
}
.link_login{
	position: relative;
top: -5px;
margin-left: 8px;
margin-right: 10px;
text-decoration: underline;
color: white;
font-style: normal;
	}
.link_signup{
	position: relative;
	top: -5px;
margin-left: 8px;
text-decoration: underline;
color: white;
font-style: normal;
	}
.noidungtin
{
line-height: 20px;
    min-height: 10px;
    
    position: relative;
}

.nomenu{
	height: 49px;
	width: 1003px;
	margin: 0 auto;
	margin-top: 53;
	}

.right .nd_thongbao
{
	
    border-bottom: 1px dotted #CCCCCC;
    line-height: 16px;
    margin-left: 5px;
    padding: 5px 10px;
    width: 194px;
}
.nd_thongbao:last-child{
	border-bottom: none;
}
.right .tit_wthongbaomoi {
    height: 35px;
}
.right .tit_wthongbaomoi h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 12px;
}

.thematic
{
	width:227px; float:left;
	padding-bottom:5px;
}
.thematic .img_new
{
	width:224px; float:left;
	color:#5F5F5F;
	text-decoration:underline;
}
.thematic .img_new a {
    background: url("") no-repeat scroll 0 5px transparent;
    float: left;
    font-weight: bold;
    padding-left: 20px;
    text-decoration: underline;
    width: 100%;
	width:210px;
}
.thematic .img_new img
{
	padding-top:8px;
}





.thematic_no_images
{
	width:494px; float:left;
	padding-bottom:5px;
}
.thematic_no_images .img_new
{
	width:494px; float:left;
	color:#5F5F5F;
	text-decoration:underline;
}
.thematic_no_images .img_new a {
    background: url("") no-repeat scroll 0 5px transparent;
    float: left;
    font-weight: bold;
    padding-left: 20px;
    text-decoration: underline;
    width: 97%;
}
.thematic_no_images .img_new img
{
	padding-top:8px;
}




.formcomment
{
	width:100%;
	min-height:250px;
	padding-top:10px;
	float:left;	
}
.OldComment
{
	width:100%;
	padding-top:50px;
	float:left;
}
.item_comment
{
	font-style:italic;
	padding:10px;	
	border-radius:8px;
	border:1px solid #666;
	background-color:#EEE;
	margin-top:10px;
}
.item_name
{
	font-weight:bold;
}
.item_date
{
	position:absolute;
	margin-top:0px;
	margin-left:250px;	
	text-align:right;
}
.msg_comment
{
	margin-top:10px;
	font-style:italic;
	padding:10px;	
	border-radius:8px;
	border:1px solid #666;
	background-color:#FFF;
}
.msg_error
{
	margin-top:10px;
	font-style:italic;
	padding:10px;	
	border-radius:8px;
	border:1px solid #666;
	background-color:#F96;
}
/*  wthongbaomoi */	
.left .wthongbaomoi ul{
    
	}
.left .wthongbaomoi ul li{
	min-height:23px;
	padding-left:20px;
	padding-top:5px;
	}
.left .wthongbaomoi ul li:last-child{
	background:none;
	}
.left .wluottruycap{
    box-shadow: 1px 1px 1px 0 #999999;
    line-height: 20px;
    min-height: 20px;
    padding: 10px;
	
}
.right .wluottruycap {
	
    box-shadow: 1px 1px 1px 0 #999999;
    line-height: 20px;
    min-height: 20px;
    padding: 10px;
}
.right .wlienketngoai .imglink
{
    border: 1px solid #666666;
    height: 43px;
    margin-left: 10px;
    margin-top: 5px;
}
.visited
{
	padding-top:6px;
	padding-left:10px;
	padding-right:15px;
	background:url("visited.png") no-repeat;	
}
.online
{
	padding-top:6px;
	padding-left:10px;
	padding-right:15px;
	background:url("online.png") no-repeat;	
}
.i_folder
{
	background:url("") no-repeat;
	padding:10px;
	padding-top:4px;
	padding-left:15px;
	}
#txtCode
{
	height:25px;
}
.img_captcha
{
left: 3px;
    margin-top: 4px;
    position: relative !important;
    top: 8px;
}


.othernew_menu
{
	margin-top:10px;
	padding-left: 15px;
	width:100%; float:left;
	background:url("")  no-repeat left center;
	font-weight:bold;
}
.othernew_menu a
{
	color:#666;
}

.buttomothernew .header_other_menu
{
	font-weight:bold; border-bottom:1px dotted #666; color:#666; font-size:14px;
	 height: 25px;
    margin-bottom: 6px;
    width: 100%;
	padding-top:15px;
}



.center .content_galery
{
	float: left;
    margin-top: 10px;
}

.center .content_galery section {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDF4DB;
    float: left;
    min-height: 190px;
    padding: 10px;
    width: 474px;
}
.box_content_category
{
	float: left;
    height: auto;
    min-height: 10px;
    padding-bottom: 10px;
	width:100%;
}
.header_calendar
{
	font-size:16px; color:#000;
}
.day_calendar
{
	
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.bs{
	font-style: italic;
    font-weight: bold;
    text-decoration: underline;
	
}
.bc{
	font-style: italic;
    font-weight: bold;
    text-decoration: underline;
	
}
.thumb_gallery
{
width::100%;
float:left;
}
.thumb_gallery div
{
float: left;
width: 161px;
text-align: center;
margin-left: 2px;
margin-bottom: 10px;
position: relative;
}
.thumb_img
{
border: 2px solid #CCCCCC;
    height: 100px !important;
    margin-top: 10px;
    width: auto;
}
.thumb_gallery div
{
	border:1px outset #EEE;
	border-radius:6px;
}
.thumb_gallery div:hover
{
	border:1px outset #333;
	border-radius:6px;
}
.info iframe
{
	width:100%;
	height:350px;
}
.tbl_leader tr td
{
	padding:3px;
}

/* 23-8-2012 */
.schedule_ct
{
	  min-height: 25px;
	  padding-left:15px;
}
.schedule_pr
{
	height:25px;
	font-size:15px;
}
.box_new_content_plan {
    float: left;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
/*//// */

.short_news{
	font-weight:bold;
}
.img_gallery{
	margin-top:10px;
}
.tit_img {
    bottom: 10px;
    position: absolute;
    width: 100%;
}
.video_item a iframe{
	width:160px;
	height:150px;
	margin-top:5px;

}
.video_item  iframe{
	width:160px;
	height:150px;
	margin-top:5px;

}
.wvideo iframe
{
	height:168px;
	width:225px;
}

.wvideo .all_video
{
padding-top: 7px;
margin-top: 0px;
font-weight: bold;
width: 100%;
text-align: center;
}

.control_page
{
float: right;
    margin-top: -5px;
    position: absolute;
    right: 0;	
	z-index:1;
}
.print_page
{
	padding-right:15px;
	background:url("") no-repeat;
}
.email_page:hover
{
	background:url("") no-repeat;
}
.email_page
{
	padding-right:15px;
	background:url("") no-repeat;
}
.print_page:hover
{
	background:url("") no-repeat;
}
/* 28-8-2012 */
.download
{
	 padding-top:20px;
	 height:31px;
}
.download .file
{
  
  vertical-align:super; 
  padding-right:5px;
}

/*//// */

.day_onecontent
{
color: #666666;
    font-size: 12px;
    font-style: italic;
    margin-right: 7px;
}
.wbantinmoi
{
	width:100%;
}
.info2 img{
	display: block;
    float: none;
    margin: 0 auto;
	max-width: 500px;
	height:auto;

}
.info img{
	display: block;
    float: none;
    margin: 0 auto;
	max-width: 500px;
	height:auto;
}
#menu_wdanhmuc .menutitle img{
	float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.left .wdanhmuc ul li a {
    color: white;
    display: block;
    float: left;
    line-height: 17px;
    width: 158px;
}
.nologo{
	 background: url("") no-repeat scroll center -6px transparent;
    height: 205px;
    position: relative;
    top: 7px !important;
    width: 270px !important;
}
.nologo img{
	float: left;
    margin-top: 80px;
}
.ct_bs{
	font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.ct_bc{
	font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}
.noidungtin img{
	max-width:495px;
	height:auto;
}

table {
    max-width: 480px !important;
	margin: 0 auto;
}
.first_content{
	padding-left:30px;
}
.notext{
	font-size: 25px;
    
    position: relative;
    top: 28px;
}

.show{
 margin-left: 10px;
    position: relative;
    top: 22px;
}
.title_parent_dropdown a{
	padding-left: 25px;
	float: left;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    margin-top: -3px;
    padding-top: 5px;
    width: 682px;
	display:block;
}
.tit_parent_dropdown{
	float: left;
    height: 25px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    width: 100%;
}
#list_teacher0{
	margin-top:20px;
}
.hide{
	 margin-left: 10px;
    position: relative;
    top: 22px;
}
.teacher_name{
	padding-left:20px;
}
.firstcontent{
	font-size:12px;
}
.left .nd_thongbao{
	min-height: 15px;
    overflow: hidden;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-top: 5px;
}
.right .main_link
{
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    padding-left: 10px;
	line-height: 18px;
}

.left .tit_wlichcongtac h4 {
  	left: 15px;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 14px;
}

.left .tit_wcpanel h4 {
  	left: 15px;
    font-size: 15px;
    font-weight: normal;
    position: relative;
    text-align: center;
    top: 14px;
}
.tuanhoc
{
text-decoration:underline;
color:#900;
font-weight:bold;	
}
.tungaydenngay
{
text-decoration:none;
color:#006;
font-size:11px;
font-style:italic;
}
.tungaydenngay:hover
{
color:#900;
}
.list_teacher p
{
padding-top:10px;
}
.teacher_name
{
background:url("bullet1.png") no-repeat 9px 6px ;	
}
.submenu{
	margin-top:10px;
}
.right .submenu{
	margin-top:15px;
	margin-left:5px;
}
.info_week ul li{
	 list-style: none !important;
}
.file{
	float:right;
	margin-left: -5px;
}
.file{
	float:left;
	margin-left: -5px;
}
.download a img{
float:left;

}
.file{
	float: left;
    margin-left: -5px;
    margin-top: 9px;
}
.download a img{
float: left;
    margin-right: 10px;
}
.download {
    clear: left;
    float: left;
    margin-right: -5px;
    width: 100% !important;
}
p.noidungtin{
	position: static !important;
	text-align:justify;
}
.tit{
	float:left;
	margin-top: 15px;
	margin-bottom:10px;
    font-family: arial;
    font-size: 18px;
}
.wlinebantinmoi .tit{
	margin-top: 0;
    
}
.noidungtin .tit{
width:100%;
}
.noidungtin_kehoach a.tit{

	margin-top:0;
}

.noidungtin_kehoach{
	min-height:18px;
}

.tuanhoc_old { 
color:gray
}
.box_new_content .in_center_top_content .noidungtin{
	overflow: hidden;
	text-align:justify;
}



.page
{
	color:#454545;
}
.page_check
{
	color:#F60;
}
.box_page
{
	float:right; 
	padding-top:10px;
}


	
.lib_list
{
padding-bottom:30px;
border-radius:5px;	
float:left;
width:100%;
}
.lib_item
{
	width:100%;
	float:left;
	min-height:30px;
	padding-bottom:5px;
}
.lib_stt
{
padding-top:7px;
float:left;
width:5%;
font-weight:bold;
}
.lib_name
{
padding-top:7px;
padding-top:7px;
float:left;
width:75%;
font-weight:bold;
border-bottom:1px dotted #CCC;
}
.short_detail
{
	font-style:italic;
	font-weight:lighter;
	min-height:80px;
}
.lib_file
{
float:right;
width:25%;
min-height:80px;
text-align:right;
margin-top: 27px;
border-bottom:1px dotted #CCC;
}
.lib_file a
{
	float:right;
}
.lib_category
{
width:150px;	
}

.frm_srch_file
{
	height:15px;
	border-bottom:1px solid #AAA;
	margin-bottom:10px;
	padding-bottom:20px;
}
.btn_search_lib
{
background: url("search.gif") no-repeat right;
width: 25px;
height: 19px;
border: none;
}

.totalpage
{
width:70px;
margin:0 auto;
float:left;
margin-top:10px;
font-weight:bold;
}
.page
{
 padding:5px;
 margin-right:2px;	
}
.page:hover
{
color:#C30;
border-bottom:1px solid #333	
}
.current
{
	 padding:3px;
	 margin-right:2px;
	 padding-bottom:0px;	
	 font-weight:bold;
	 color:#333;
	 border-bottom:1px solid #00F;
}
.control_splitpage
{
	margin-top:10px;
	padding-top:10px;
	padding-bottom:10px;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	width:100%;
	float:left;
	position:inherit;
}

.list_page span
{
	float:left;
	margin-top:10px;
}
.more_page
{
	float: right;
    position: absolute;
    right: 0;
    text-decoration: underline;
	
}
.left .wlichcongtac iframe{
	width:180px;
}
.right .wvideo embed{
	width:245px;
}
.right .wvideo{
	margin-bottom: 10px;
    margin-left: 10px;
}
.in_center_top .download{
	width:300px;
	margin-bottom:15px;
}
.itemdv
{
	width:100%;
	padding-bottom:10px;
}
.namedv
{
width:100%;
font-size:14px;
font-weight:bold;
float:left;	
padding-right: 10px;
}
.linkdv
{
width:100%;
}

.item_exdanhmucgiua
{
	width:100%;
	padding-bottom:20px;
	float:left;
}
.item_exdanhmucgiua img
{
	float:left;
	width:70px !important;
	padding-right:10px;
}
.tit_item_exdanhmucgiua
{
float:left;
width:83%;	
}
.short_content
{
float:left;
width:83%;
text-align:justify;
display:block;
line-height:15px;	
}

.gr_image
{
width: 264px;
min-height: 170px;
float: left;
}
.gr_image figcaption
{
font-weight: bold;
font-style: italic;
text-align:left !important;
width: 96%;	
}
.excel,table
{
border-collapse:collapse;	
}

.nav_top {
border: 1px solid #F1F1F1;
border-left: none;
border-right: none;
width: 100%;
margin-top: 30px;
margin-bottom: 5px;
padding-top: 5px;
height: 25px;
}
.nav_calendar {
display: -webkit-inline-box;
width: 60%;
float: left;
}
.nav_calendar li:hover {
color: #00C;
}
.selected_week {
padding-left: 5px;
padding-right: 5px;
width: atuto !important;
}
.countview
{
border:1px solid #ccc;
border-radius:5px;
padding:5px;
float:left;	
}
.left .wwebmail img{
 width:202px;
}
.question_num{
	
}
.question_num ul li{
	height:25px;
}
.question_num input[type="button"]{
	margin-left: 14px;
	margin-top: 3px;
}
.nav_top .nav_calendar li {
    float: left;
        position: relative;
}
.selected_week a {
    color: #f00;
    font-weight: bold;
}
table td {
    border: 1px solid #BBB;
}